body{
   color: blueviolet;
   background: antiquewhite; 
}
header{
   border-bottom: solid 2px rgb(rgb(23, 5, 38));
   padding: 20px;
   font-size: 32px;
   color: rgb(rgb(134, 77, 234));
   background: rgb(156, 105, 232);
}
.chamada{
   background: rgb(181, 5, 20);
   padding-bottom: 100px;
   padding-top: 100px;
}